*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.login{
    width: 900px;
    height: auto;
    cursor: pointer;
}

.Logo{
    width: 150px;   
    height: auto;
}

.nav-items{
    padding: 0px 20px;

}
.nav-items > ul{
    font-size: 24px;
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}

.login{
    width: 50px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin:5px ;
    border-radius: 0.9rem;
    padding: 5px;
    width: 200px;
    height: 350px; 
    overflow: hidden; 
   
    
}

.logo{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.res-logo{
     border-radius: 0.9rem;
     
     
}

.res-card:hover{
    cursor: pointer ;
    border: 1px solid black;
}

.search{
    padding: 10px;

}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    
}

.shimmer-cards {
    margin: 20px;
    width: 200px;
    height: 400px;
    border-radius: 0.9rem;
    background-color: #f0f0f0;
}

